<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
   
<Style>
div{
 margin: auto;
 margin-top: 10%;
 
}
  footer {
    position: fixed;
    bottom: 0;
    background-color: #4CAF50;
    width: 100%;
    height: 40px;
  }
  footer, a{
    text-align: center;
    margin-top: 2px;
  }
   
</Style> 

</head>
<body>
    <header>
        <nav class="navbar navbar-dark bg-inverse" style="background-color:#4CAF50;">
          <a class="navbar-brand" href="#">Tela Pet</a>
        </nav>
      </header>  

        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a  href="#"style="background-color:#4CAF50" class="btn btn-info">Editar</a>
              <a  href="#"style="background-color:#4CAF50" class="btn btn-info">Atualizar</a>
              <a  href="#"style="background-color:#4CAF50" class="btn btn-info">Deletar</a>
            </div>
          </div>
        </div>
      </div>
<footer>
<a href=""style="background-color:#4CAF50"></a>
</footer>
      
</body>
</html>